<nav class="navbar fixed-top container navbar-0 bg-0">
	<div class="container-fluid">
	  <a class="navbar-brand"><img src="https://e7.pngegg.com/pngimages/7/586/png-clipart-hyperlink-computer-icons-chain-miscellaneous-text-thumbnail.png" alt=""  style="width: 50px ; border-radius: 30px;"></a>
		<div>
		<a href="/"><button class="btn btn-outline-success" type="submit">Home</button></a> 
		<a href="/about"><button class="btn btn-outline-danger" type="submit">About</button></a>
		<a href="/url/"><button class="btn btn-outline-warning" type="submit">My Url</button></a>
		<a href="/login"><button class="btn btn-outline-info" type="submit">Login</button></a>
		</div>
	</div>
  </nav>