<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body class="">

<header style="border: 2px solid black; font-style:bold;  box-shadow:2px 0px 14px 2px black;  border: 1px solid; width: 100vw; ">
  <%- include('../partials/header'); %>
</header>

<main style="padding-top: 120px;" class="container">
  
   <div class="container bg-0 p-3  rounded  " style="color: black; box-shadow:1px 6px 16px 3px black;  border: 1px solid; background-color:rgba(255, 255, 255, 0.552);">
    <div class="row ">
      <div class="col my-auto ">
        <div class="py-2" >
          <h1><b>ABOUT?</b></h1>
          <p><strong>A URL shortener is a tool or service that takes a long URL and converts it into a shorter, more manageable link. The primary purpose of URL shorteners is to make links easier to share, especially on platforms with character limits or in situations where a concise link is preferred. Here are some key aspects about URL shorteners.</strong></p>
		  <ol>
			<li>
				<strong>
				A URL shortener is a tool or service that takes a long URL and converts it into a shorter, more manageable link. The primary purpose of URL shorteners is to make links easier to share, especially on platforms with character limits or in situations where a concise link is preferred. Here are some key aspects about URL shorteners:
			    </strong>
			</li>
			<li>
				<strong>
				Shortening Links: URL shorteners take a lengthy web address and generate a shorter version, typically using a unique identifier or a combination of characters. For example, a long URL like "https://www.example.com/blog/article-on-url-shorteners" might be shortened to "https://short.url/abc123."
			    </strong>
			</li>
			<li>
				<strong>
				Redirection: When someone clicks on the shortened link, they are redirected to the original, longer URL. This redirection happens seamlessly and quickly.
			    </strong>				
			</li>
			<li>
				<strong>
				Tracking and Analytics: Many URL shorteners offer analytics features, allowing users to track the performance of their links. This may include information on the number of clicks, geographic location of users, referral sources, and more.
			    </strong>
			</li>
			<li>	
				<strong>
				Customization: Some URL shorteners allow users to customize the generated short link with a keyword or specific string, making it more meaningful or brand-related. For example, "https://short.url/myproduct" instead of a random string of characters.
			    </strong>
			</li>
			<li>
				<strong>
				Social Media and Marketing: URL shorteners are widely used on social media platforms, where character limits may restrict the use of long URLs. They are also popular in marketing campaigns, enabling tracking of the effectiveness of different promotional channels.
			    </strong>				
			</li>
		  </ol>
          <!-- <button class="btn btn-outline-light" type="submit"><b>Home</b></button> -->
          </div>
      </div>
      <!-- <div class="col  text-center">
        <img src="https://servizinazionali.infn.it/wp-content/uploads/2021/02/cuturl.png" style="border-radius: 120px; width: 350px; margin: 50px;" alt="" srcset="">
      </div> -->
    </div>
   </div>
</main>

<footer class=" fixed-bottom " style="border: 2px solid black; font-style:bold;  box-shadow:2px 0px 14px 2px black;  border: 1px solid; ">
  <%- include('../partials/footer'); %>
</footer>

</body>
</html>