<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body class="">

<header style="border: 2px solid black; font-style:bold;  box-shadow:2px 0px 14px 2px black;  border: 1px solid; width: 100vw; ">
  <%- include('../partials/header'); %>
</header>

<main style="padding-top: 120px;" class="container">
  
   <div class="container bg-0 p-3  p-3 rounded  " style="color: black; box-shadow:1px 6px 16px 3px black;  border: 1px solid;">
    <div class="row ">
      <div class="col my-auto ">
        <div class="py-5 my-5" >
          <h1><b>Welcome to ShortLinks!</b></h1>
          <h3><strong>our Link, Simplified.</strong></h3>
          <p><strong>Thank you for choosing ShortLinks, your go-to URL shortening service. We're here to make your links shorter, sweeter, and easier to share. Here's what ShortLinks has to offer</strong></p>
          <button class="btn btn-outline-success" type="submit"><b>Generate Url</b></button>
          </div>
      </div>
      <div class="col  text-center">
        <img src="https://servizinazionali.infn.it/wp-content/uploads/2021/02/cuturl.png" style="border-radius: 120px; width: 350px; margin: 50px;" alt="" srcset="">
      </div>
    </div>
   </div>
</main>

<footer class=" fixed-bottom " style="border: 2px solid black; font-style:bold;  box-shadow:2px 0px 14px 2px black;  border: 1px solid; ">
  <%- include('../partials/footer'); %>
</footer>

</body>
</html>